In [1]:
import matplotlib.pyplot as plt
import pandas as pd
import hvplot.pandas
from pathlib import Path
import yfinance as yf

In [2]:
# Setting variables
spy = yf.Ticker('SPY')
nasdaq = yf.Ticker ('QQQ')
gold = yf.Ticker('GLD')
silver = yf.Ticker('SLV')
#Getting all Basic Stock data
#spy.info
gold.info
spy.info
nasdaq.info
silver.info

{'longBusinessSummary': "The Trust seeks to reflect such performance before payment of the Trust's expenses and liabilities. It is not actively managed. The Trust does not engage in any activities designed to obtain a profit from, or to ameliorate losses caused by, changes in the price of silver.",
 'maxAge': 86400,
 'priceHint': 2,
 'previousClose': 19.73,
 'open': 19.84,
 'dayLow': 19.8,
 'dayHigh': 20.08,
 'regularMarketPreviousClose': 19.73,
 'regularMarketOpen': 19.84,
 'regularMarketDayLow': 19.8,
 'regularMarketDayHigh': 20.08,
 'volume': 12986670,
 'regularMarketVolume': 12986670,
 'averageVolume': 15889857,
 'averageVolume10days': 24073300,
 'averageDailyVolume10Day': 24073300,
 'bid': 20.04,
 'ask': 20.08,
 'bidSize': 21500,
 'askSize': 43500,
 'yield': 0.0,
 'totalAssets': 10192345088,
 'fiftyTwoWeekLow': 16.66,
 'fiftyTwoWeekHigh': 23.94,
 'fiftyDayAverage': 21.1542,
 'twoHundredDayAverage': 21.47245,
 'trailingAnnualDividendRate': 0.0,
 'trailingAnnualDividendYield': 0.0,
 'navPrice': 19.35337,
 'currency': 'USD',
 'ytdReturn': -0.1039964,
 'beta3Year': 0.42,
 'fundFamily': 'iShares',
 'fundInceptionDate': 1145577600,
 'legalType': 'Exchange Traded Fund',
 'threeYearAverageReturn': -0.0316721,
 'fiveYearAverageReturn': 0.0748921,
 'exchange': 'PCX',
 'quoteType': 'ETF',
 'symbol': 'SLV',
 'underlyingSymbol': 'SLV',
 'shortName': 'iShares Silver Trust',
 'longName': 'iShares Silver Trust',
 'firstTradeDateEpochUtc': 1146231000,
 'timeZoneFullName': 'America/New_York',
 'timeZoneShortName': 'EDT',
 'uuid': 'af87aa35-b248-337f-8470-c3cafa3f6173',
 'messageBoardId': 'finmb_22769902',
 'gmtOffSetMilliseconds': -14400000,
 'trailingPegRatio': None}

In [3]:
# Showing historical Data
history_spy = spy.history(period="10y")
history_nasdaq = nasdaq.history(period='10y')
gold_history = gold.history(period='10y')
silver_history = silver.history(period='10y')
#Shows open high low close etc
#history_spy.head()
#history_nasdaq
# Code to drop unecessary columns
#columns_to_drop = ['Dividends', 'Stock_Splits', 'Capital_Gains']
#history_nasdaq = history_nasdaq.drop(columns=columns_to_drop)
history_spy

,Open,High,Low,Close,Volume,Dividends,Stock Splits,Capital Gains
Date,,,,,,,,
2013-10-10 00:00:00-04:00,139.433097,141.075056,139.383090,141.000046,195955000,0.0,0.0,0.0
2013-10-11 00:00:00-04:00,140.783331,141.958543,140.666645,141.908524,105040000,0.0,0.0,0.0
2013-10-14 00:00:00-04:00,141.033377,142.591983,140.925020,142.475296,112106000,0.0,0.0,0.0
2013-10-15 00:00:00-04:00,142.116875,142.650302,141.250060,141.441757,155485000,0.0,0.0,0.0
2013-10-16 00:00:00-04:00,142.291955,143.492170,142.225275,143.417160,161676000,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...
2023-10-03 00:00:00-04:00,425.059998,427.369995,420.179993,421.589996,103760600,0.0,0.0,0.0
2023-10-04 00:00:00-04:00,422.070007,425.429993,420.559998,424.660004,87453000,0.0,0.0,0.0
2023-10-05 00:00:00-04:00,424.359985,425.369995,421.170013,424.500000,70142700,0.0,0.0,0.0
2023-10-06 00:00:00-04:00,421.970001,431.130005,420.600006,429.540009,113202700,0.0,0.0,0.0
2023-10-09 00:00:00-04:00,427.579987,432.880005,427.010010,432.290009,80306600,0.0,0.0,0.0

In [4]:
history_nasdaq = history_nasdaq.drop(columns=['Dividends','Stock Splits'])
history_spy = history_spy.drop(columns=['Dividends','Stock Splits','Capital Gains','Low','High','Volume','Open'])
#gold_history =  gold_history.drop(columns=['Dividends','Stock Splits','Capital Gains'])
silver_history = silver_history.drop(columns=['Dividends','Stock Splits','Capital Gains','Open','High','Low','Volume'])
gold_history = gold_history.drop(columns=['Dividends','Stock Splits','Capital Gains','Low','High','Volume','Open'])

In [5]:
#Checking to see if All Dataframes are Working
#history_spy
type(history_nasdaq)
history_nasdaq

,Open,High,Low,Close,Volume,Capital Gains
Date,,,,,,
2013-10-10 00:00:00-04:00,71.297163,72.195139,71.278841,72.030205,48062700,0.0
2013-10-11 00:00:00-04:00,71.846993,72.653334,71.837828,72.598358,25214100,0.0
2013-10-14 00:00:00-04:00,72.149364,73.111481,72.094389,73.111481,31471900,0.0
2013-10-15 00:00:00-04:00,73.056482,73.404673,72.735772,72.827408,38684000,0.0
2013-10-16 00:00:00-04:00,73.166447,73.688737,73.111471,73.652084,46735900,0.0
...,...,...,...,...,...,...
2023-10-03 00:00:00-04:00,358.779999,361.010010,353.279999,354.920013,60478500,0.0
2023-10-04 00:00:00-04:00,355.769989,360.609985,355.299988,359.750000,54786700,0.0
2023-10-05 00:00:00-04:00,359.739990,360.149994,355.140015,358.690002,45897400,0.0
2023-10-06 00:00:00-04:00,355.649994,365.910004,354.850006,364.700012,74959200,0.0
2023-10-09 00:00:00-04:00,362.299988,367.109985,360.779999,366.559998,45223300,0.0

In [6]:

history_spy = history_spy.reset_index()

In [7]:
# Striping the time from Date
history_spy['Date'] = history_spy['Date'].dt.strftime('%Y-%m-%d')
history_spy

            Date       Close
0     2013-10-10  141.000046
1     2013-10-11  141.908524
2     2013-10-14  142.475296
3     2013-10-15  141.441757
4     2013-10-16  143.417160
...          ...         ...
2511  2023-10-03  421.589996
2512  2023-10-04  424.660004
2513  2023-10-05  424.500000
2514  2023-10-06  429.540009
2515  2023-10-09  432.290009

[2516 rows x 2 columns]

In [8]:
#Checking DataFrames
type(gold_history)

pandas.core.frame.DataFrame

In [9]:
#Cleaning DataFrame Note you must reset index before stripping time from the Date
gold_history = gold_history.reset_index()
gold_history['Date'] = gold_history['Date'].dt.strftime('%Y-%m-%d')
gold_history

            Date       Close
0     2013-10-10  124.269997
1     2013-10-11  122.599998
2     2013-10-14  122.830002
3     2013-10-15  123.730003
4     2013-10-16  123.540001
...          ...         ...
2511  2023-10-03  169.160004
2512  2023-10-04  169.139999
2513  2023-10-05  168.830002
2514  2023-10-06  169.699997
2515  2023-10-09  172.820007

[2516 rows x 2 columns]

In [10]:
# Fixing silver Dataframe

silver_history = silver_history.reset_index()
silver_history['Date'] = silver_history['Date'].dt.strftime('%Y-%m-%d')
silver_history

            Date      Close
0     2013-10-10  20.830000
1     2013-10-11  20.520000
2     2013-10-14  20.500000
3     2013-10-15  20.559999
4     2013-10-16  20.500000
...          ...        ...
2511  2023-10-03  19.440001
2512  2023-10-04  19.309999
2513  2023-10-05  19.250000
2514  2023-10-06  19.730000
2515  2023-10-09  20.059999

[2516 rows x 2 columns]

In [11]:
#Fixing Nasdaq History
history_nasdaq = history_nasdaq.reset_index()
history_nasdaq['Date'] = history_nasdaq['Date'].dt.strftime('%Y-%m-%d')
history_nasdaq

,Date,Open,High,Low,Close,Volume,Capital Gains
0,2013-10-10,71.297163,72.195139,71.278841,72.030205,48062700,0.0
1,2013-10-11,71.846993,72.653334,71.837828,72.598358,25214100,0.0
2,2013-10-14,72.149364,73.111481,72.094389,73.111481,31471900,0.0
3,2013-10-15,73.056482,73.404673,72.735772,72.827408,38684000,0.0
4,2013-10-16,73.166447,73.688737,73.111471,73.652084,46735900,0.0
...,...,...,...,...,...,...,...
2511,2023-10-03,358.779999,361.010010,353.279999,354.920013,60478500,0.0
2512,2023-10-04,355.769989,360.609985,355.299988,359.750000,54786700,0.0
2513,2023-10-05,359.739990,360.149994,355.140015,358.690002,45897400,0.0
2514,2023-10-06,355.649994,365.910004,354.850006,364.700012,74959200,0.0
2515,2023-10-09,362.299988,367.109985,360.779999,366.559998,45223300,0.0

In [12]:
#function to pull data quicker Marco Suggestion


import yfinance as yf
import pandas as pd

def pull_function(ticket_name):
    try:
        # Use yfinance to fetch ticker data
        ticker_data = yf.download(ticket_name, period="10y", threads=True)

        # Extract the "Date" and "Close" columns and create a DataFrame with them
        df = pd.DataFrame({
            "Date": ticker_data.index,  # Assuming the date is the index
            "Close": ticker_data["Close"]
        })

        return df
    except Exception as e:
        print(f"Error fetching data for {ticket_name}: {str(e)}")
        return None

# Example usage:
ticker_symbol = "SPY"  # Replace with the desired ticker symbol
df = pull_function(ticker_symbol)

if df is not None:
    print(df.head())

[*********************100%%**********************]  1 of 1 completed
                 Date       Close
Date
2013-10-10 2013-10-10  169.169998
2013-10-11 2013-10-11  170.259995
2013-10-14 2013-10-14  170.940002
2013-10-15 2013-10-15  169.699997
2013-10-16 2013-10-16  172.070007

In [13]:
import yfinance as yf
import pandas as pd

def pull_function(ticket_name):
    try:
        # Use yfinance to fetch ticker data
        ticker_data = yf.download(ticket_name, period="10y", threads=True)

        # Extract the "Date" and "Close" columns and create a DataFrame with them
        df = pd.DataFrame({
            "Date": ticker_data.index,  # Assuming the date is the index
            "Close": ticker_data["Close"]
        })

        return df
    except Exception as e:
        print(f"Error fetching data for {ticket_name}: {str(e)}")
        return None

# Example usage:
ticker_symbol = "SLV"  # Replace with the desired ticker symbol
df = pull_function(ticker_symbol)

if df is not None:
    print(df.head())

[*********************100%%**********************]  1 of 1 completed
                 Date      Close
Date
2013-10-10 2013-10-10  20.830000
2013-10-11 2013-10-11  20.520000
2013-10-14 2013-10-14  20.500000
2013-10-15 2013-10-15  20.559999
2013-10-16 2013-10-16  20.500000

In [14]:
import yfinance as yf
import pandas as pd

def pull_function(ticket_name):
    try:
        # Use yfinance to fetch ticker data
        ticker_data = yf.download(ticket_name, period="10y", threads=True)

        # Extract the "Date" and "Close" columns and create a DataFrame with them
        df = pd.DataFrame({
            "Date": ticker_data.index,  # Assuming the date is the index
            "Close": ticker_data["Close"]
        })

        return df
    except Exception as e:
        print(f"Error fetching data for {ticket_name}: {str(e)}")
        return None

# Example usage:
ticker_symbol = "GLD"  # Replace with the desired ticker symbol
df = pull_function(ticker_symbol)

if df is not None:
    print(df.head())

[*********************100%%**********************]  1 of 1 completed
                 Date       Close
Date
2013-10-10 2013-10-10  124.269997
2013-10-11 2013-10-11  122.599998
2013-10-14 2013-10-14  122.830002
2013-10-15 2013-10-15  123.730003
2013-10-16 2013-10-16  123.540001

In [15]:
import yfinance as yf
import pandas as pd

def pull_function(ticket_name):
    try:
        # Use yfinance to fetch ticker data
        ticker_data = yf.download(ticket_name, period="10y", threads=True)

        # Extract the "Date" and "Close" columns and create a DataFrame with them
        df = pd.DataFrame({
            "Date": ticker_data.index,  # Assuming the date is the index
            "Close": ticker_data["Close"]
        })

        return df
    except Exception as e:
        print(f"Error fetching data for {ticket_name}: {str(e)}")
        return None

# Example usage:
ticker_symbol = "QQQ"  # Replace with the desired ticker symbol
df = pull_function(ticker_symbol)

if df is not None:
    print(df.head())

[*********************100%%**********************]  1 of 1 completed
                 Date      Close
Date
2013-10-10 2013-10-10  78.610001
2013-10-11 2013-10-11  79.230003
2013-10-14 2013-10-14  79.790001
2013-10-15 2013-10-15  79.480003
2013-10-16 2013-10-16  80.379997

In [16]:
#Getting BTC Dataframe

# Define the ticker symbol for Bitcoin
btc_symbol = "BTC-USD"

# Specify the date range for the past 10 years
start_date = "2013-10-09"  # Adjust this date as needed
end_date = "2023-10-09"    # This should be the current date or a date in the past

# Use yfinance to fetch Bitcoin data for the specified date range
btc_data = yf.download(btc_symbol, start=start_date, end=end_date, progress=False)

# Extract the "Close" column and create a DataFrame
btc_df = btc_data[["Close"]]

# Print the first few rows of the DataFrame
print(btc_df.head())

                 Close
Date
2014-09-17  457.334015
2014-09-18  424.440002
2014-09-19  394.795990
2014-09-20  408.903992
2014-09-21  398.821014

In [17]:
# Getting ETH DATAFRame

# Define the ticker symbol for Bitcoin
eth_symbol = "ETH-USD"

# Specify the date range for the past 10 years 
start_date = "2013-10-09"  
end_date = "2023-10-09"    

# Use yfinance to fetch Bitcoin data for the specified date range progress=false stops dowload bar from showing
eth_data = yf.download(eth_symbol, start=start_date, end=end_date, progress=False)

# Extract the "Close" column and create a DataFrame
eth_symbol_df = eth_data[["Close"]]

# Print the first few rows of the DataFrame
print(btc_df.head())

                 Close
Date
2014-09-17  457.334015
2014-09-18  424.440002
2014-09-19  394.795990
2014-09-20  408.903992
2014-09-21  398.821014